{% extends "blog/base.html" %}

{% block content %}
 <h1>Logowanie</h1>
 {% if form.errors %}
 <p>
 Nazwa użytkownika lub hasło są nieprawidłowe.
 Spróbuj ponownie.
 </p>
 {% else %}
 <p>Wypełnij poniższy formularz, aby się zalogować:</p>

 {% endif %}

 <div class="login-form">
 <form action="{% url 'login' %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <input type="hidden" name="next" value="{{ next }}" />
 <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
  <a href="{% url 'register' %}">lub zarejestruj sie</a>
 </form>
<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button><button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
 </div>
{% endblock %}