<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>

      #elo {background-color: green;}
      h1{ font-family :Marker Felt, fantasy;
      color:blue}

    </style>
    <meta charset="UTF-8">
    <title>tytul pewnie w zakladce</title>

</head>

<body>
<h1>naglowek1</h1>
<hr>
<h2 style="background-color: yellow;"> naglowek2 </h2>

<button class="btn btn-lg btn-primary" type="button">Duży przycisk

</button>

<p>a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to <br>paragraf</p>
<ul>
   <li> element1 listy</li>
    <a href = "https://mistrzowie.org/">
    <li id= "elo"> element2 listy</li>
    </a>
    <li> element3 listy</li>


</ul>
 {{post.text}}

a to <b>tekst</b>  zwykly


</body>

</html>